1. What are data structures, and why are they important?
- Data structures are organized formats for storing and managing data in a computer so that it can be accessed and modified efficiently. They are important because they provide a way to organize data in a manner that makes it easier to perform operations like searching, sorting, insertion, deletion, and updating data efficiently. Examples include arrays, lists, stacks, queues, trees, graphs, and hash tables.
2.Explain the difference between mutable and immutable data types with examples.?
-Mutable data types can be modified after their creation. Examples include lists, dictionaries, and sets in Python.

Immutable data types cannot be changed once created. Examples include strings, tuples, and integers in Python.

In [ ]:
# Mutable
my_list = [1, 2, 3]
my_list[0] = 10  # Changes the first element

# Immutable
my_tuple = (1, 2, 3)
# my_tuple[0] = 10  # This will raise an error

3.What are the main differences between lists and tuples in Python?

-Lists are mutable, while tuples are immutable.
Lists are defined using square brackets [], while tuples are defined using parentheses ().
Lists have more built-in methods than tuples.

4.Describe how dictionaries store data.?

-Dictionaries store data as key-value pairs. Each key must be unique and is used to access its corresponding value. They are implemented using hash tables, allowing for fast data retrieval based on keys..

5.Why might you use a set instead of a list in Python?

Sets are used when the data must be unique, and order does not matter. They are faster than lists for membership testing because they use hash tables to store data.

6.What is a string in Python, and how is it different from a list?

-A string is a sequence of characters enclosed in quotes, while a list is a collection of items that can be of different data types. Strings are immutable, while lists are mutable.

7.How do tuples ensure data integrity in Python?

-Tuples are immutable, meaning their content cannot be changed after creation, thus preventing accidental modification of data.

8.What is a hash table, and how does it relate to dictionaries in Python?

-A hash table is a data structure that stores data using key-value pairs. Python dictionaries are implemented as hash tables, providing O(1) average time complexity for key access.

9.Can lists contain different data types in Python?

-Yes, lists can contain elements of different data types including integers, strings, and other lists.

10.Explain why strings are immutable in Python.

-Strings are immutable in Python to enhance performance and to allow for safe sharing among different parts of a program without unintended modifications.

11.What advantages do dictionaries offer over lists for certain tasks?

-Dictionaries provide fast access to data using keys, whereas lists require iteration to find elements. This makes dictionaries more efficient for lookups and modifications using specific identifiers.

12.Describe a scenario where using a tuple would be preferable over a list.

-When defining a set of constant data, such as coordinates (x, y), where the values should not change, a tuple is preferable to prevent accidental modification.

13.How do sets handle duplicate values in Python?

-Sets automatically discard duplicate values and only store unique elements.

14.How does the “in” keyword work differently for lists and dictionaries?

-For lists, the in keyword checks for the presence of an element.

.For dictionaries, it checks for the presence of a key.

15.Can you modify the elements of a tuple? Explain why or why not.

No, tuples are immutable, meaning their elements cannot be modified after creation. This ensures data integrity.

16.What is a nested dictionary, and give an example of its use case.

-A nested dictionary is a dictionary within a dictionary. It is useful for representing complex hierarchical data.

In [ ]:
student_data = {
    'student1': {'name': 'John', 'age': 22},
    'student2': {'name': 'Alice', 'age': 24}
}

17.Describe the time complexity of accessing elements in a dictionary.

The time complexity of accessing elements in a dictionary is O(1) on average due to the use of hash tables.

18.In what situations are lists preferred over dictionaries?

Lists are preferred when order matters or when storing a collection of similar data without specific identifiers.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?

Dictionaries in Python prior to version 3.7 were unordered, meaning they did not maintain insertion order. However, since Python 3.7, they maintain order based on insertion. Data retrieval relies on key access rather than position.

20.Explain the difference between a list and a dictionary in terms of data retrieval.

Lists retrieve data based on index positions.

Dictionaries retrieve data using keys, making access faster and more intuitive when dealing with key-value pairs.

In [1]:
# 1. Write a code to create a string with your name and print it
my_name = "utkarsh"
print(my_name)

utkarsh

In [ ]:
#2.Write a code to find the length of the string "Hello World"

In [1]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"
sliced_str = "Python Programming"[:3]
print(sliced_str)

Pyt

In [2]:
# 4. Write a code to convert the string "hello" to uppercase
upper_str = "hello".upper()
print(upper_str)

HELLO

In [3]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
new_str = "I like apple".replace("apple", "orange")
print(new_str)

I like orange

In [4]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
num_list = [1, 2, 3, 4, 5]
print(num_list)

[1, 2, 3, 4, 5]

In [5]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
list_7 = [1, 2, 3, 4]
list_7.append(10)
print(list_7)

[1, 2, 3, 4, 10]

In [6]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list_8 = [1, 2, 3, 4, 5]
list_8.remove(3)
print(list_8)

[1, 2, 4, 5]

In [7]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list_9 = ['a', 'b', 'c', 'd']
print(list_9[1])

b

In [8]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]
list_10 = [10, 20, 30, 40, 50]
list_10.reverse()
print(list_10)

[50, 40, 30, 20, 10]

In [9]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it
tuple_11 = (100, 200, 300)
print(tuple_11)

(100, 200, 300)

In [10]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tuple_12 = ('red', 'green', 'blue', 'yellow')
print(tuple_12[-2])

blue

In [11]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
tuple_13 = (10, 20, 5, 15)
print(min(tuple_13))

5

In [12]:

# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tuple_14 = ('dog', 'cat', 'rabbit')
print(tuple_14.index("cat"))

1

In [13]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
tuple_15 = ('apple', 'banana', 'cherry')
print("kiwi" in tuple_15)

False

In [14]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it
set_16 = {'a', 'b', 'c'}
print(set_16)

{'b', 'a', 'c'}

In [15]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}
set_17 = {1, 2, 3, 4, 5}
set_17.clear()
print(set_17)

set()

In [16]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
set_18 = {1, 2, 3, 4}
set_18.discard(4)
print(set_18)

{1, 2, 3}

In [17]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set_19_a = {1, 2, 3}
set_19_b = {3, 4, 5}
print(set_19_a.union(set_19_b))

{1, 2, 3, 4, 5}

In [18]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set_20_a = {1, 2, 3}
set_20_b = {2, 3, 4}
print(set_20_a.intersection(set_20_b))

{2, 3}

In [19]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [20]:

# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dict_22 = {'name': 'John', 'age': 25}
dict_22["country"] = "USA"
print(dict_22)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [21]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
dict_23 = {'name': 'Alice', 'age': 30}
print(dict_23["name"])

Alice

In [22]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict_24 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict_24["age"]
print(dict_24)

{'name': 'Bob', 'city': 'New York'}

In [23]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dict_25 = {'name': 'Alice', 'city': 'Paris'}
print("city" in dict_25)

True

In [24]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all
list_26 = [1, 2, 3]
tuple_26 = (4, 5, 6)
dict_26 = {"a": 7, "b": 8, "c": 9}
print(list_26, tuple_26, dict_26)

[1, 2, 3] (4, 5, 6) {'a': 7, 'b': 8, 'c': 9}

In [25]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random
list_27 = random.sample(range(1, 101), 5)
list_27.sort()
print(list_27)

[32, 55, 91, 94, 95]

In [26]:
# 28. Write a code to create a list with strings and print the element at the third index
list_28 = ["apple", "banana", "cherry", "date", "fig"]
print(list_28[3])

date

In [27]:
# 29. Write a code to combine two dictionaries into one and print the result
dict_29_a = {"name": "Alice", "age": 30}
dict_29_b = {"city": "Paris", "country": "France"}
combined_dict = {**dict_29_a, **dict_29_b}
print(combined_dict)

{'name': 'Alice', 'age': 30, 'city': 'Paris', 'country': 'France'}

In [28]:
# 30. Write a code to convert a list of strings into a set
list_30 = ["apple", "banana", "apple", "cherry"]
set_30 = set(list_30)
print(set_30)

{'cherry', 'apple', 'banana'}